afterBody: [
  Component.Comments({
    provider: 'giscus',
    options: {
      // Other options
 
      themeUrl: "https://friedasong.github.io/Thoughts-of-Frieda/static/", // corresponds to quartz/static/giscus/
      lightTheme: "light-theme", // corresponds to light-theme.css in quartz/static/giscus/
      darkTheme: "dark-theme", // corresponds to dark-theme.css quartz/static/giscus/
    }
  }),
],

